<template>
  <div>
    <div class="container mx-auto">
      <div id="default-carousel" class="flex justify-center grid-cols-1 gap-6 md:grid-cols-1 lg:grid-cols-1 relative bg-white w-96 rounded-lg" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div v-if="currentImg !== undefined" class="relative h-56 w-full overflow-hidden rounded-lg md:h-96">
          <div class="duration-700 ease-in-out" data-carousel-item>
              <img :src="'/storage/images/' + currentImg.car_id + '/' + currentImg.image">
          </div>
        </div>
        <div v-if="currentImg === undefined" class="grid grid-cols-1 place-items-center bg-gray-300 relative h-56 w-full overflow-hidden rounded-lg md:h-96">
          <div class="text-2xl font-bold text-gray-500 drop-shadow-2xl shadow-black" data-carousel-item>
              No photos
          </div>
        </div>
          <button @click="prev" type="button" class="left-0 absolute flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
              <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                  <span class="sr-only">Previous</span>
              </span>
          </button>
          <button @click="next" type="button" class="absolute right-0 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
              <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                  <span class="sr-only">Next</span>
              </span>
          </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from 'vue';

const props = defineProps({
    image: Array
});

const currentIndex = ref(0);

function next() {
    currentIndex.value += 1;
};

function prev() {
    currentIndex.value -= 1;
};

const currentImg = computed(() => {
  if (props.image !== null) {
    return props.image[Math.abs(currentIndex.value) % props.image.length];
  }
})
</script>
