<template>
  <transition name="modal-animation">
    <div v-show="modalActive" class="modal">
      <transition name="modal-animation-inner">
        <div v-show="modalActive" class="modal-inner">
          <!-- Modal Content -->
          <slot>
              <div class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50">
                <div class="flex items-start justify-center min-h-screen pt-24 text-center">

                <div class="bg-gradient-to-r from-orange-50 to-red-100 relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <div class="modal-content">

                    <div class="p-6 text-center">

                      <svg aria-hidden="true" class="mx-auto mb-4 text-red-400 w-14 h-14 dark:text-red-200" fill="none" stroke="currentColor"
                      viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                        </path>
                      </svg>
                      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to cancel this order?</h3>

                      <a :href="'/orders/delete/' + orderId" type="button" class="text-white bg-gradient-to-r from-red-500 to-orange-500
                            hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800
                            font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Yes, I'm sure
                      </a>
                      <button @click="$emit('close')" type="button"
                      class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                      rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                      dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white
                      dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                      >
                        Close
                      </button>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </slot>

        </div>
      </transition>
    </div>
  </transition>
</template>

<script setup>

const props = defineProps(["modalActive", "orderId"]);

</script>
