<template>
    <div id="body" class="m-2 bg-gradient-to-r from-blue-200 to-sky-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    :class="{'bg-gradient-to-r from-grey-300 to-gray-500': car.is_active === 0}">
    <div class="flex justify-center mt-1">
        <Carousel :image="image" />
    </div>
        <div class="mt-2 px-5 pb-5">
            <h5 class="flex justify-center text-3xl tracking-tight text-blue-900 dark:text-white">
                {{ `${car.brand} ${car.model}` }}
            </h5>
                <div>
                    <span class="flex justify-center font-medium text-lg text-blue-900 dark:text-white">
                        Type: {{ car.type }} Box type: {{ car.box_type }}
                    </span>
                    <span class="flex justify-center font-medium text-lg text-blue-900 dark:text-white">
                        Fuel type: {{ car.fuel_type }}
                    </span>
                </div>
                <div>
                    <span class=" flex justify-center mt-2 text-xl text-blue-900 dark:text-white">
                        Price per day: $<span class="" ref="pricePerDays">{{ car.price_per_day }}</span>
                    </span>
                    <span class="flex justify-center text-xl font-medium text-blue-900 dark:text-white">
                        Sum: ${{ totalAmount }}
                    </span>
                </div>
            <div class="mt-3">
                <label for="numberOfDays" class="text-blue-900 font-medium text-lg">Number of days &nbsp;<span class="text-xs font-normal">(no more than 10 days)</span></label>
                <input name="days" id="numberDays" v-model="numberOfDays"
                class="border border-gray-300 text-gray-900 text-sm rounded-lg
                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                :class="{'bg-gray-300': car.is_active === 0}">
                <span class="text-red-600">{{ errorMessage }}</span>
            </div>
            <div v-if="car.is_active === 1 && !errorMessage" class="mt-3">
                <input @click="$emit('addCarToCart', { car: car, days: numberOfDays, sum:totalAmount })" type="checkbox" :id="car.id" class="hidden peer">
                <label :for="car.id" class="inline-table items-center rounded-lg justify-between w-1/4 p-3
                text-[#ccffcc] bg-[#006600] hover:bg-[#009900] hover:text-white
                peer-checked:border-[#193300] peer-checked:text-white peer-checked:bg-[#003333]">
                    <div class="block">
                        <div class="w-full text-base">Add to cart</div>
                    </div>
                </label>
            </div>
            <div v-if="errorMessage" class="mt-4 font-bold text-xl text-blue-900">
                Enter the correct data
            </div>
            <div v-if="car.is_active === 0" class="mt-4 font-bold text-2xl text-blue-900">
                Car in lease
            </div>
        </div>
    </div>
</template>

<script setup>
import Carousel from '@/Pages/Carousel/Carousel.vue';
import { between, required } from '@vee-validate/rules';
import { defineRule, useField } from 'vee-validate';
import { computed, onMounted, ref } from "vue";

defineRule('required', required);
defineRule('between', between);

const { value: numberOfDays, errorMessage } = useField('days', 'required|between:1,10');

const props = defineProps({
    car: Object,
    images: Array,
});

const totalAmount = computed(() => {
    if (!numberOfDays.value) {
        return 0;
    }

    return numberOfDays.value * props.car.price_per_day;
})

const image = ref(null);

onMounted(() => {
    image.value = props.images.filter(function (e) {
        return e.car_id === props.car.id;
    });

    return image.value;
})
</script>
