<template>
    <AppLayout>

        <template #header>
            <h2 class="text-center font-semibold text-xl text-gray-800 leading-tight">
                Cars page
            </h2>
        </template>

        <Windows @close="toggleModal" :modalActive="modalActive" :cars="carsId"/>

        <form @submit.prevent="submit()">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative mx-3 mt-3">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border
                border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                v-model="form.text" placeholder="Search Brand, Box type..." required>
            </div>
        </form>

        <div class="mx-2 mt-2 grid md:grid-cols-1 justify-items-end">

            <button href="" @click="toggleModal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium
            rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700
            focus:outline-none dark:focus:ring-blue-800">
                Shopping Cart
            </button>

        </div>

            <div class="container mx-auto">
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                    <div v-for="car in cars.data" :key="car.id">
                        <CarsCard :car="car" :images="images" @addCarToCart="addToCard($event)"/>
                    </div>
                </div>
            </div>

            <Pagination :links="cars.links" />

    </AppLayout>
</template>

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import CarsCard from '@/Pages/Cars/CarsCard.vue';
import Windows from '@/Pages/Cars/Windows.vue';
import Pagination from '@/Pages/Pagination/Pagination.vue';
import { useForm } from '@inertiajs/vue3';
import debounce from "lodash.debounce";
import { ref, watch } from "vue";

const props = defineProps({
    cars: Array,
    images: Array,
});

const form = useForm({
    text: '',
});

watch(form, debounce(() => {
    form.get('/car/search?query=' + form.text);
}, 500));

const modalActive = ref(false);
const carsId = ref([]);

function toggleModal() {
    modalActive.value = !modalActive.value;

    return { modalActive, carsId, toggleModal };
};

function addToCard(data) {
    let cancellationCarIndex = this.carsId.findIndex(function(e) {
        return e.car.id === data.car.id;
    });

    if (cancellationCarIndex >= 0) {
        this.carsId.splice(cancellationCarIndex, 1);
        return;
    }

    this.carsId.push(data);
};

</script>
