<template>
      <transition name="modal-animation-inner">
        <div v-show="modalActive" class="modal-inner absolute">
          <!-- Modal Content -->
          <slot>
            <form :action="'orders/add/' + $page.props.auth.user.id" method="POST">
                <input type="hidden" name="_token" :value="csrf">
                <div class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50">
                    <div class="flex items-start justify-center min-h-screen pt-24 text-center">
                        <div class="bg-gradient-to-r from-orange-400 to-red-400 rounded-lg text-left overflow-hidden shadow-xl p-8 max-w-max">
                          <p class="m-4 text-centre text-white text-3xl font-extrabold leading-none tracking-tight md:text-4xl dark:text-white">Hello shopping cart</p>
                          <div v-for="car in cars" :key="car">
                            <input type="hidden" :name="'carsInOrder' + car.car.id" :value="[car.car.id, car.days]">
                              <table class="mb-2 w-96 rounded-md w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-ms text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Car brand and model
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Type
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Box type
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Fuel type
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Number of days
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                          Total amount
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <td scope="row" class="px-6 py-4 text-center text-gray-900 whitespace-nowrap dark:text-white">
                                          {{ `${car.car.brand} ${car.car.model}` }}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            {{ car.car.type }}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            {{ car.car.box_type }}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            {{ car.car.fuel_type }}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            {{ car.days }}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                          ${{ car.sum }}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            <button @click="cancel(car.car.id)"
                                            type="button" class="text-white bg-gradient-to-r from-red-500 to-orange-500
                                            hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800
                                            font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                                Сancel
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>

                          <button @click="$emit('close')" type="button"
                          class="m-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                          rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                          dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white
                          dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                          >
                            Close
                          </button>

                          <button type="submit" class="right-0 m-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                          rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                          dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white
                          dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                            Create order
                          </button>

                        </div>
                    </div>
                </div>
            </form>
          </slot>
        </div>

  </transition>
</template>

<script setup>

const props = defineProps({
    modalActive: Boolean,
    cars: Array,
});

const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

function cancel(id) {
  let cancellationCarIndex = props.cars.findIndex(function(e) {
    return e.car.id === id;
  });

  props.cars.splice(cancellationCarIndex, 1);
};

</script>
