<template>

    <AppLayout>

        <template #header>
            <h2 class="text-center font-semibold text-xl bg-gradient-to-r from-blue-800 to-slate-800 bg-clip-text text-transparent leading-tight">
                Create car page
            </h2>

            <div v-if="updateStatus === 'Success'">
                <div id="toast-success" class="m-3 flex items-center w-full p-4 mb-4 rounded-lg shadow bg-gradient-to-r from-emerald-500 to-emerald-900 text-white text-base" role="alert">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Check icon</span>
                    </div>

                    <div class="ml-3 text-sm font-normal">Car successfully created.</div>
                    <button @click="updateStatus = ''" type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
            </div>

            <form class="space-y-6 mt-3 bg-blue" @submit.prevent="submit">

                <div>
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Brand
                    </label>
                    <input type="text" name="brand" id="brand" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                    w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    v-model="form.brand" required>
                    <InputError :message="form.errors.brand" class="mt-2"/>
                </div>

                <div>
                    <label for="model" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Model
                    </label>
                    <input type="text" name="model" id="model" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    v-model="form.model" required>
                    <InputError :message="form.errors.model" class="mt-2"/>
                </div>

                <div>
                    <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Type
                    </label>
                    <input type="text" name="type" id="type" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    v-model="form.type" required>
                    <InputError :message="form.errors.type" class="mt-2"/>
                </div>

                <div>
                    <label for="box_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Box type
                    </label>
                    <input type="text" name="box_type" id="box_type" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    v-model="form.box_type" required>
                    <InputError :message="form.errors.box_type" class="mt-2"/>
                </div>

                <div>
                    <label for="fuel_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Fuel type
                    </label>
                    <input type="text" name="fuel_type" id="fuel_type" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    v-model="form.fuel_type" required>
                    <InputError :message="form.errors.fuel_type" class="mt-2"/>
                </div>

                <div>
                    <label for="seating" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Seating
                    </label>
                    <input name="seating" id="seating" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    v-model="form.seating" required>
                    <InputError :message="form.errors.seating" class="mt-2"/>
                </div>

                <div>
                    <label for="price_per_day" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Price per day
                    </label>
                    <input name="price_per_day" id="price_per_day" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    v-model="form.price_per_day" required>
                    <InputError :message="form.errors.price_per_day" class="mt-2"/>
                </div>

                <div>
                    <label for="is_active" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Status
                    </label>
                    <select v-model="form.is_active" name="is_active" id="is_active" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">

                        <option value="1">Active</option>
                        <option value="0">Locked</option>

                    </select>
                    <InputError :message="form.errors.is_active" class="mt-2"/>
                </div>

                <p class=" font-bold bg-gradient-to-r from-blue-800 to-slate-800 bg-clip-text text-transparent">
                    The first photo will be used as the title photo for the car, you can upload a maximum of 5 photos
                </p>
                <div class="dropzone bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" ref="createImagesForm">
                </div>


                <!-- <div class="flex items-center justify-center w-full">
                    <input @change="form.image = $event.target.files" type="file" name="image" id="image" class="bg-gray-50 border border-gray-300
                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" multiple>
                    <InputError :message="form.errors.image" class="mt-2"/>
                </div> -->

                <button type="submit" @click="form.image = dropzoneCreate.getAcceptedFiles()" class="mr-2 text-white bg-gradient-to-r from-blue-800 to-slate-800
                hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-slate-800
                font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    Create car
                </button>

            </form>
        </template>



    </AppLayout>

</template>

<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import { useForm } from "@inertiajs/vue3";
import Dropzone from "dropzone";
import { onMounted, ref } from 'vue';

const dropzoneCreate = ref(null);
const createImagesForm = ref(null);

onMounted(() => {
    dropzoneCreate.value = new Dropzone(createImagesForm.value, {
        url: '/manager/car',
        maxFiles: 5,
        uploadMultiple: true,
        parallelUploads: 5,
        clickable: true,
        autoProcessQueue: false,
        dictDefaultMessage: "Click to upload images or drag and drop",
        addRemoveLinks: true,
        dictRemoveFile: 'Remove',
    });
});

const form = useForm({
    brand: null,
    model: null,
    type: null,
    box_type: null,
    fuel_type: null,
    seating: null,
    price_per_day: null,
    is_active: null,
    image: null
});

const updateStatus = ref('');

const submit = () => {
        form.post('/manager/car', {
            onSuccess: () => {
                updateStatus.value = 'Success';
            }
        });
    }

</script>
