<template>
    <transition name="modal-animation-inner">
        <div v-show="modalActiveEdit" class="modal-inner">
            <!-- Modal Content -->
            <slot>

                <div class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50">
                    <div class="flex items-start justify-center min-h-screen pt-24 text-center">
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 rounded-lg text-left overflow-hidden shadow-xl p-8 w-1/2">

                            <div class="flex inline-flex">
                                <p class="m-3 text-centre text-white text-xl font-extrabold leading-none tracking-tight md:text-4xl dark:text-white">
                                    Edit car information
                                </p>

                                <button @click="$emit('close')" type="button" class="text-white hover:text-blue-900 focus:outline-none">
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>

                            <form class="space-y-6" @submit.prevent="submit(car.id)" enctype="multipart/form-data">

                                <div>
                                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Brand
                                    </label>
                                    <input type="text" name="brand" id="brand" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block
                                    w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    v-model="form.brand" required>
                                    <InputError :message="form.errors.brand" class="mt-2" />
                                </div>

                                <div>
                                    <label for="model" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Model
                                    </label>
                                    <input type="text" name="model" id="model" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    v-model="form.model" required>
                                    <InputError :message="form.errors.model" class="mt-2" />
                                </div>

                                <div>
                                    <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Type
                                    </label>
                                    <input type="text" name="type" id="type" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    v-model="form.type" required>
                                    <InputError :message="form.errors.type" class="mt-2" />
                                </div>

                                <div>
                                    <label for="box_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Box type
                                    </label>
                                    <input type="text" name="box_type" id="box_type" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    v-model="form.box_type" required>
                                    <InputError :message="form.errors.box_type" class="mt-2" />
                                </div>

                                <div>
                                    <label for="fuel_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Fuel type
                                    </label>
                                    <input type="text" name="fuel_type" id="fuel_type" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    v-model="form.fuel_type" required>
                                    <InputError :message="form.errors.fuel_type" class="mt-2" />
                                </div>

                                <div>
                                    <label for="seating" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Seating
                                    </label>
                                    <input name="seating" id="seating" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    v-model="form.seating" required>
                                    <InputError :message="form.errors.seating" class="mt-2" />
                                </div>

                                <div>
                                    <label for="price_per_day" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Price per day
                                    </label>
                                    <input name="price_per_day" id="price_per_day" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    v-model="form.price_per_day" required>
                                    <InputError :message="form.errors.price_per_day" class="mt-2" />
                                </div>

                                <div>
                                    <label for="is_active" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Status
                                    </label>
                                    <select v-model="form.is_active" name="is_active" id="is_active" class="bg-gray-50 border border-gray-300
                                    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                    p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">

                                        <option :selected="form.is_active === 1" value="1">Active</option>
                                        <option :selected="form.is_active === 0" value="0">Locked</option>

                                    </select>
                                    <InputError :message="form.errors.is_active" class="mt-2" />
                                </div>

                                    <div class="dropzone bg-white" ref="editImagesDropzone" id="image">
                                    </div>

                                <button type="submit" @click="testImages" class="mr-2 text-white bg-gradient-to-r from-blue-800 to-slate-800
                                    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-slate-800
                                    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    Edit car
                                </button>

                                <button @click="$emit('close')" type="button"
                                class="m-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                                rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                                dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white
                                dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                                >
                                    Close
                                </button>

                                </form>
                                {{ img }}
                        </div>
                    </div>
                </div>
            </slot>
        </div>
    </transition>
</template>

<script setup>
import InputError from '@/Components/InputError.vue';
import { useForm } from "@inertiajs/vue3";
import Dropzone from "dropzone";
import { computed, onMounted, ref } from 'vue';

const props = defineProps({
    modalActiveEdit: Boolean,
    car: Object,
    image: Array,
});

const dropzoneEdit = ref(null);
const editImagesDropzone = ref(null);
const removedImage = ref(null);

onMounted(() => {
    dropzoneEdit.value = new Dropzone(editImagesDropzone.value, {
        url: '/manager/car/' + props.car.id,
        maxFiles: 5,
        clickable: true,
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 5,
        dictDefaultMessage: "Click to upload images or drag and drop",
        addRemoveLinks: true,
        dictRemoveFile: 'Remove',
        init: function() {
            this.on("removedfile", file => {
                removedImage.value = file.name;
            });
        },
    });
});

const img = computed(() => {
    if (dropzoneEdit.value !== null && props.image !== null) {
        if (dropzoneEdit.value.files.length === 0) {
            props.image.forEach((element) => {
                const mockFile = {
                    name: element.image

                };
                dropzoneEdit.value.files.push(mockFile);
                dropzoneEdit.value.emit("addedfile", mockFile);
                dropzoneEdit.value.emit("thumbnail", mockFile, '/storage/images/' + element.car_id + '/' + element.image);
                dropzoneEdit.value.emit("complete", mockFile);
            })


            // const sort = Sortable.create(document.getElementById('image'), {
            //     draggable: '.dz-preview',

            //     onEnd: function (evt) {

                    // const newArray = [];

                    // console.log(document.querySelectorAll('.dz-filename'));
                    // console.log(evt.oldIndex - 1);
                    // console.log(evt.newIndex - 1);
                    // sort.el.dropzone.files.forEach((value, key) => {
                    //     sort.el.dropzone.files[evt.newIndex - 1] = value;
                        // console.log(value.name);
                        // console.log(key);
                    // });
                    // console.log(newArray);
                    // console.log(sort.el.dropzone.files);

                    // console.log(sort.el.dropzone.files);
                //     console.log(evt.item);
                    // dropzoneEdit.value.files.length = 0;

                    // console.log(evt.to);

                    // document.querySelectorAll('.dz-image [data-dz-thumbnail]').forEach((element) => {

                        // console.log(element);

                        // const file = new Image();
                        // file.src = element.src;

                        // console.log(file);

                        // const mockFile = {
                        //     name: element.innerText,
                        // };

                        // dropzoneEdit.value.files.push(file);
                    // })

                    // console.log(evt.item);
                    // console.log(evt.from);
                    // console.log(evt.to);
                    // console.log(evt.oldIndex);
                    // console.log(evt.newIndex);
                    // console.log(evt.oldDraggableIndex);
                    // console.log(evt.newDraggableIndex);

        //         },
        //     });
        }

        if (dropzoneEdit.value.files.length !== 0) {
            dropzoneEdit.value.files = dropzoneEdit.value.files.filter(function(e) {
                return e.name !== removedImage.value
            });
        }
    }
});

const drag = ref(false);

const form = useForm({
    brand: props.car.brand,
    model: props.car.model,
    type: props.car.type,
    box_type: props.car.box_type,
    fuel_type: props.car.fuel_type,
    seating: props.car.seating,
    price_per_day: props.car.price_per_day,
    is_active: props.car.is_active,
    image: null
});

function testImages() {
    form.image = dropzoneEdit.value.files;
}

const submit = (id) => {
        form.post('/manager/car2/' + id, {
            onSuccess: () => {
                window.location.href = '/manager/car?updateSuccess=ok';
            }
        });
    }

</script>
