<template>

    <AppLayout>

        <template #header>
            <div>
                <h2 class="text-center font-semibold text-xl bg-gradient-to-r from-blue-800 to-slate-800 bg-clip-text text-transparent leading-tight">
                    All cars page
                </h2>
            </div>
        </template>

        <div v-if="$page.props.flash.updateSuccess
        || success === 'ok'">
            <div id="toast-success" class="m-3 flex items-center w-full max-w-xs p-4 mb-4 rounded-lg shadow bg-gradient-to-r from-emerald-500 to-emerald-900 text-white text-base" role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Check icon</span>
                </div>

                <div class="ml-3 text-sm font-normal">Car successfully locked.</div>
                <button @click="closeNotification" type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
        </div>

        <form @submit.prevent="submitSearch()">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative mx-3 mt-3 mb-3">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border
                border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                v-model="formSearch.text" placeholder="Search Brand, Price per day..." required>
                <a href="/manager/car" class="text-white absolute right-2.5 bottom-2.5 bg-red-600 hover:bg-red-700
                focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600
                dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset search</a>
            </div>
        </form>

        <div class="relative overflow-x-auto shadow-md">

            <table class="ml-2 w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-white uppercase bg-gradient-to-r from-sky-700 to-sky-700 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center w-1/6">
                                Id &nbsp;
                                <form @submit.prevent="submit()" class="text-s text-normal text-gray-500">
                                    <button type="submit" @click="form.table = 'cars', form.column = 'id', form.keyword = 'desc'" class="text-white">&#8593;</button>&nbsp;
                                    <button type="submit" @click="form.table = 'cars', form.column = 'id', form.keyword = 'asc'" class="text-white">&#8595;</button>
                                </form>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/5">
                                <div class="flex items-center">
                                    Brand and Model &nbsp;
                                    <form @submit.prevent="submit()" class="text-s text-normal text-gray-500">
                                        <button type="submit" @click="form.table = 'cars', form.column = 'brand', form.keyword = 'desc'" class="text-white">&#8593;</button>&nbsp;
                                        <button type="submit" @click="form.table = 'cars', form.column = 'brand', form.keyword = 'asc'" class="text-white">&#8595;</button>
                                    </form>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/6">
                                <div class="flex items-center">
                                    Price per day &nbsp;
                                    <form @submit.prevent="submit()" class="text-s text-normal text-gray-500">
                                        <button type="submit" @click="form.table = 'cars', form.column = 'price_per_day', form.keyword = 'desc'" class="text-white">&#8593;</button>&nbsp;
                                        <button type="submit" @click="form.table = 'cars', form.column = 'price_per_day', form.keyword = 'asc'" class="text-white">&#8595;</button>
                                    </form>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/8">
                                <div class="flex items-center">
                                    Status
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/8">
                                Actions
                            </th>
                        </tr>
                    </thead>
                        <tbody v-for="car in cars.data" :key="car.id">
                            <CarTable :car="car" :images="images"/>
                        </tbody>
                </table>

        </div>

        <Pagination :links="cars.links"></Pagination>

    </AppLayout>


</template>

<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import CarTable from '@/Pages/CRUDCars/CarTable.vue';
import Pagination from "@/Pages/Pagination/Pagination.vue";
import { useForm } from "@inertiajs/vue3";
import debounce from "lodash.debounce";
import { ref, watch } from "vue";

const props = defineProps({
    cars: Object,
    images: Array,
    updateSuccess: String
});

const formSearch = useForm({
    text: ''
});

watch(formSearch, debounce(() => {
    console.log(formSearch.text);
    formSearch.get('/manager/car/search?query=' + formSearch.text);
}, 500));

const form = useForm({
    table: null,
    column: null,
    keyword: null
});

const submit = () => {
    form.get('/manager/sorting?keyword=' + form.keyword + '&column=' + form.column);
}

const success = ref(new URL(window.location.href).searchParams.get("updateSuccess"));

function closeNotification() {
    success.value = '';
    window.history.replaceState(null, '', window.location.pathname);
}

</script>
