<template>
    <transition name="modal-animation-inner">
        <div v-show="modalActive" class="modal-inner">
            <!-- Modal Content -->
            <slot>
                <div class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50">
                    <div class="flex items-start justify-center min-h-screen pt-24 text-center">
                        <div class="bg-gradient-to-r from-orange-300 to-red-300 rounded-lg text-left overflow-hidden shadow-xl p-8 w-1/2">

                            <p class="m-4 flex justify-center text-white text-xl font-extrabold leading-none tracking-tight md:text-4xl dark:text-white">
                                Information about car
                            </p>


                            <div id="body" class="m-2 bg-gradient-to-r from-orange-400 to-red-400 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                                <div class="flex justify-center mb-2">
                                    <Carousel class="mt-2" :image="imagesCar"/>
                                </div>

                                <h5 class="flex justify-center text-3xl tracking-tight text-white dark:text-white">
                                    {{ `${car.brand} ${car.model}` }}
                                </h5>
                                    <div>
                                        <span class="flex justify-center font-medium text-lg text-white dark:text-white">
                                            Type: {{ car.type }} Box type: {{ car.box_type }}
                                        </span>
                                        <span class="flex justify-center font-medium text-lg text-white dark:text-white">
                                            Fuel type: {{ car.fuel_type }}
                                        </span>
                                        <span class="flex justify-center font-medium text-lg text-white dark:text-white">
                                            Seating: {{ car.seating }}
                                        </span>
                                        <span class="flex justify-center font-medium text-lg text-white dark:text-white">
                                            Price per day: $<span class="" ref="pricePerDays">{{ car.price_per_day }}</span>
                                        </span>
                                        <span v-if="car.is_active === 1" class="flex justify-center font-medium text-lg text-white dark:text-white">
                                            Status: Active
                                        </span>
                                        <span v-else class="flex justify-center font-medium text-lg text-white dark:text-white">
                                            Status: Locked
                                        </span>
                                        <span class="flex justify-center font-medium text-lg text-white dark:text-white">
                                            Created at {{ car.created_at }}
                                        </span>
                                    </div>
                            </div>

                            <button @click="$emit('close')" type="button"
                            class="m-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                            rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                            dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white
                            dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                            >
                                Close
                            </button>

                        </div>
                    </div>
                </div>
            </slot>
        </div>
    </transition>
</template>

<script setup>
import Carousel from "@/Pages/Carousel/Carousel.vue";

const props = defineProps({
    modalActive: Boolean,
    car: Object,
    imagesCar: Array
});

</script>
