<template>
    <transition name="modal-animation-inner">
      <div v-show="modalActive" class="modal-inner">
        <!-- Modal Content -->
        <slot>
              <div class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50">
                  <div class="flex items-start justify-center min-h-screen pt-24 text-center">
                      <div class="bg-gradient-to-r from-orange-400 to-red-400 rounded-lg text-left overflow-hidden shadow-xl p-8 max-w-max">
                        <p class="m-4 text-centre text-white text-xl font-extrabold leading-none tracking-tight md:text-4xl dark:text-white">Cars in order</p>
                        <div v-for="order in ordersInfo" :key="order.order_id">

                            <table class="mt-3 text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Order number
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Car
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Number of days
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Total Amount
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            Status
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-center">
                                            End of lease
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ order.order_id }}
                                        </th>
                                        <td class="px-6 py-4 text-center">
                                            {{ `${order.car.brand} ${order.car.model}`}}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            {{ order.number_of_days }}
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            {{ order.sum }}
                                        </td>
                                        <td>
                                            <select :id="order.car.id" @change="carStatusUpdate($event, order.order_id)" class="bg-gray-50 border border-gray-300
                                            text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                                            p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">

                                                <option :selected="order.is_active === 1" value="1">
                                                    Active
                                                </option>

                                                <option :selected="order.is_active === 0" value="0">
                                                    Locked
                                                </option>

                                            </select>
                                        </td>
                                        <td class="px-6 py-4 text-center">
                                            {{ order.end_of_lease }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <button @click="$emit('close')" type="button"
                        class="m-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                        rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                        dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white
                        dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                        >
                          Close
                        </button>

                      </div>
                  </div>
              </div>
        </slot>
      </div>

</transition>
</template>

<script setup>

const props = defineProps({
  modalActive: Boolean,
  ordersInfo: Array
});

function carStatusUpdate(ev, id) {
    axios.post('/manager/car/update/status/indataorder', {status: ev.target.value, id: ev.target.id, orderId: id}, {
        header: {
        'Content-Type': 'application/json'
      }
    }).then(function (response) {
        updateStatus.value = response.data;
    });
}

</script>
