<template>

    <AppLayout>

        <template #header>
            <div>
                <h2 class="text-center font-semibold text-xl bg-gradient-to-r from-orange-500 to-amber-400 bg-clip-text text-transparent leading-tight">
                    All orders page
                </h2>
            </div>
        </template>

        <form @submit.prevent="submitSearch()">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative mx-3 mt-3 mb-3">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border
                border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                v-model="formSearch.text" placeholder="Search Status, Order number..." required>
                <a href="/manager/orders" class="text-white absolute right-2.5 bottom-2.5 bg-red-600 hover:bg-red-700
                focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600
                dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset search</a>
            </div>
        </form>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

            <table class="mt-3 mx-3 rounded-lg w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-white uppercase bg-[#74BDCB] dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center w-1/6">
                                Id &nbsp;
                                <form @submit.prevent="submit()" class="text-s text-normal text-gray-500">
                                    <button type="submit" @click="form.table = 'orders', form.column = 'id', form.keyword = 'desc'" class="text-white">
                                        &#8593;
                                    </button>&nbsp;
                                    <button type="submit" @click="form.table = 'orders', form.column = 'id', form.keyword = 'asc'" class="text-white">
                                        &#8595;
                                    </button>
                                </form>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/5">
                                <div class="flex items-center">
                                    User ID &nbsp;
                                    <form @submit.prevent="submit()" class="text-s text-normal text-gray-500">
                                        <button type="submit" @click="form.table = 'orders', form.column = 'user_id', form.keyword = 'desc'" class="text-white">
                                            &#8593;
                                        </button>&nbsp;
                                        <button type="submit" @click="form.table = 'orders', form.column = 'user_id', form.keyword = 'asc'" class="text-white">
                                            &#8595;
                                        </button>
                                    </form>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/8">
                                <div class="flex items-center">
                                    Status
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/8">
                                <div class="flex items-center">
                                    Created at &nbsp;
                                    <form @submit.prevent="submit()" class="text-s text-normal text-gray-500">
                                        <button type="submit" @click="form.table = 'orders', form.column = 'created_at', form.keyword = 'desc'" class="text-white">
                                            &#8593;
                                        </button>&nbsp;
                                        <button type="submit" @click="form.table = 'orders', form.column = 'created_at', form.keyword = 'asc'" class="text-white">
                                            &#8595;
                                        </button>
                                    </form>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-center w-1/4">
                                <div class="">
                                    Action
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody v-for="order in orders.data" :key="order.id">
                        <OrderTable :order="order" :statuses="statuses" class="mb-3"/>
                    </tbody>
                </table>

            <Pagination :links="orders.links"></Pagination>

        </div>

    </AppLayout>

</template>

<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import OrderTable from "@/Pages/Manager/OrderTable.vue";
import Pagination from '@/Pages/Pagination/Pagination.vue';
import { useForm } from "@inertiajs/vue3";
import debounce from "lodash.debounce";
import { watch } from "vue";

defineProps({
    orders: Array,
    statuses: Object
});

const formSearch = useForm({
    text: ''
});

watch(formSearch, debounce(() => {
    console.log(formSearch.text);
    formSearch.get('/manager/order/search?query=' + formSearch.text);
}, 500));

const form = useForm({
    table: null,
    column: null,
    keyword: null
});

const submit = () => {
    form.get('/manager/sorting?keyword=' + form.keyword + '&column=' + form.column);
}

</script>
