<template>

    <AppLayout>

        <template #header>
            <h2 class="text-center font-semibold text-xl bg-gradient-to-r from-emerald-500 to-emerald-900 bg-clip-text text-transparent leading-tight">
                Page for period information
            </h2>
        </template>

        <div class="m-6">

            <form action="/manager/report/data" class="flex">
                <VueTailwindDatepicker separator=" to " :formatter="formatter" v-model="dateValue"/>
                <input type="hidden" :value="dateValue" name="date">

                <button type="submit" class="w-1/6 ml-2 text-white bg-gradient-to-r from-emerald-500 to-emerald-900
                hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-emerald-200 dark:focus:ring-emerald-800
                font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    Get Data
                </button>
            </form>

        </div>

        <div v-if="newUsers">

            <p class="m-3 text-2xl font-bold break-words text-center bg-gradient-to-r from-gray-900 to-indigo-700 bg-clip-text text-transparent">
                You are now looking at the report for the period {{ startDate }} to {{ endDate }}
            </p>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-4">
                <table class="w-full text-sm text-left text-gray-600 dark:text-gray-700">
                    <thead class="text-xs text-gray-900 uppercase bg-gray-400 dark:bg-gray-700 dark:text-gray-600">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center">
                                New Users Count
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                New Cars Count
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                New Orders Count
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                Profit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th class="px-6 py-4 text-center">
                                {{ newUsers }}
                            </th>
                            <td class="px-6 py-4 text-center">
                                {{ newCars }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ newOrders }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                ${{ profit }}.00
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg mx-4">
                <table class="w-full text-sm text-left text-gray-600 dark:text-gray-700">
                    <thead class="text-xs text-emerald-50 uppercase bg-gray-400 dark:bg-gray-700 dark:text-gray-600">
                        <tr>
                            <th scope="col" class="bg-gradient-to-r from-slate-900 to-emerald-900 text-lg px-6 py-3 text-center">
                                Get more information
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th class="px-6 py-4 flex justify-center">

                                <form @submit.prevent="submit">

                                    <button @click="form.table = 'users'" type="submit" class="ml-2 text-white bg-gradient-to-r from-emerald-500 to-emerald-900
                                    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-emerald-200 dark:focus:ring-emerald-800
                                    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                        Get New Users Collection
                                    </button>

                                </form>

                                <form @submit.prevent="submit">

                                    <button @click="form.table = 'cars'" type="submit" class="ml-2 text-white bg-gradient-to-r from-emerald-500 to-emerald-900
                                    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-emerald-200 dark:focus:ring-emerald-800
                                    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                        Get New Cars Collection
                                    </button>

                                </form>

                                <form @submit.prevent="submit">

                                    <button @click="form.table = 'orders'" type="submit" class="ml-2 text-white bg-gradient-to-r from-emerald-500 to-emerald-900
                                    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-emerald-200 dark:focus:ring-emerald-800
                                    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                        Get New Orders Collection
                                    </button>

                                </form>

                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg mx-4">
                <table class="w-full text-sm text-left text-gray-600 dark:text-gray-700">
                    <thead class="text-xs text-emerald-50 uppercase bg-gray-400 dark:bg-gray-700 dark:text-gray-600">
                        <tr>
                            <th scope="col" class="bg-gradient-to-r from-slate-800 to-blue-800 text-lg px-6 py-3 text-center">
                                Get Excel Report
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th class="px-6 py-4 flex justify-center">

                                <form id="exportUsersReport" action="/manager/report/export" method="POST"
                                class="">
                                    <input type="hidden" name="table" value="users">
                                    <input type="hidden" name="start" :value="startDate">
                                    <input type="hidden" name="end" :value="endDate">
                                    <input type="hidden" name="_token" :value="csrf">

                                    <button type="submit" class="ml-2 text-white bg-gradient-to-r from-sky-400 to-blue-700
                                    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800
                                    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                        Get New Users Collection
                                    </button>
                                </form>

                                <form id="exportCarsReport" action="/manager/report/export" method="POST"
                                class="">
                                    <input type="hidden" name="table" value="cars">
                                    <input type="hidden" name="start" :value="startDate">
                                    <input type="hidden" name="end" :value="endDate">
                                    <input type="hidden" name="_token" :value="csrf">

                                    <button type="submit" class="ml-2 text-white bg-gradient-to-r from-sky-400 to-blue-700
                                    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800
                                    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                        Get New Cars Collection
                                    </button>
                                </form>

                                <form id="exportOrdersReport" action="/manager/report/export" method="POST"
                                class="">
                                    <input type="hidden" name="table" value="orderdata">
                                    <input type="hidden" name="start" :value="startDate">
                                    <input type="hidden" name="end" :value="endDate">
                                    <input type="hidden" name="_token" :value="csrf">

                                    <button type="submit" class="ml-2 text-white bg-gradient-to-r from-sky-400 to-blue-700
                                    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800
                                    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                        Get New Orders Collection
                                    </button>
                                </form>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </AppLayout>

</template>

<script setup>

import AppLayout from "@/Layouts/AppLayout.vue";
import { useForm } from "@inertiajs/vue3";
import { ref } from 'vue';

const props = defineProps({
    newUsers: Number,
    newCars: Number,
    newOrders: Number,
    profit: Number,
    error: String,
    startDate: String,
    endDate: String,
});

const form = useForm({
    table: null,
    start: props.startDate,
    end: props.endDate
});

const submit = () => {
        form.get('/manager/report/additiondata');
}

const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

const dateValue = ref([]);
const formatter = ref({
    date: 'YYYY-MM-DD',
    month: 'MMMM'
});

</script>
