<template>


    <div v-if="updateStatus === 'Success'">
        <div id="toast-success" class="m-3 flex items-center w-full max-w-xs p-4 mb-4 rounded-lg shadow bg-gradient-to-r from-emerald-500 to-emerald-900 text-white text-base" role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Check icon</span>
            </div>

            <div class="ml-3 text-sm font-normal">User successfully cancelled.</div>
            <button @click="updateStatus = ''" type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
    </div>

    <tr class="bg-[#E7F2F8] border-b-2 border-[#74BDCB] dark:bg-gray-800 text-gray-700">
        <th scope="row" class="px-6 py-4 text-center font-medium whitespace-nowrap dark:text-white">
            {{ user.id }}
        </th>
        <td class="px-6 py-4">
            {{ user.name }}
        </td>
        <td class="px-6 py-4">
            {{ user.email }}
        </td>
        <td class="px-6 py-4">

            <select :id="user.id" @change="userStatusUpdate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option :selected="user.is_active === 1" value="1">
                    Active
                </option>
                <option :selected="user.is_active === 0" value="0">
                    Disabled
                </option>
            </select>

        </td>
        <td class="px-6 py-4">
            {{ new Date(user.created_at).toLocaleDateString("en-US") }}
        </td>
    </tr>
</template>

<script setup>
import { ref } from "vue";

defineProps({
    user: Object
})

const updateStatus = ref('');

function userStatusUpdate(ev) {
    axios.post('/manager/users/edit', {status: ev.target.value, id: ev.target.id}, {
        header: {
        'Content-Type': 'application/json'
      }
    }).then(function (response) {
        updateStatus.value = response.data;
    });
}
</script>

<style>

</style>
