<template>
  <AppLayout>

    <ImagesCarModal @close="toggleModal" :modalActive="modalActive" :image="carImage" />

        <div v-for="order in ordersInfo" v-bind:key="order" class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="mt-3 w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center">
                            Order number
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Car
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Number of days
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Total Amount
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            End of lease
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Images
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ order.order_id }}
                        </th>
                        <td class="px-6 py-4 text-center">
                            {{ `${order.car.brand} ${order.car.model}`}}
                        </td>
                        <td class="px-6 py-4 text-center">
                            {{ order.number_of_days }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            {{ order.sum }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            <p v-if="order.is_active === 1">Active</p>
                            <p v-else>Completed</p>
                        </td>
                        <td class="px-6 py-4 text-center">
                            {{ order.end_of_lease }}
                        </td>
                        <td class="px-6 py-4 text-center">
                            <button @click="toggleModal(order.car.id)" class="text-white bg-gradient-to-r from-orange-500 to-amber-400
                            hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-amber-800
                            font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                Images
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
  </AppLayout>
</template>

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import ImagesCarModal from '@/Pages/Orders/ImagesCarModal.vue';
import { ref } from "vue";

const props = defineProps({
    ordersInfo: Array,
    carsImage: Array,
});

const modalActive = ref(false);
const carImage = ref(null);


function toggleModal(id) {
    modalActive.value = !modalActive.value;

    carImage.value = props.carsImage.filter(function (e) {
        return e.car_id === id;
    });

    return { modalActive, carImage, toggleModal };
};

</script>
