<template>
    <transition name="modal-animation-inner">
      <div v-show="modalActive" class="modal-inner">
        <!-- Modal Content -->
        <slot>

            <div class="fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50">
                <div class="flex items-start justify-center min-h-screen pt-24 text-center">
                    <div class="bg-gradient-to-r from-orange-400 to-red-400 rounded-lg text-left overflow-hidden shadow-xl p-8 max-w-max">

                        <Carousel :image="image" />

                        <button @click="$emit('close')" type="button"
                        class="m-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                        rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                        dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white
                        dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </div>

        </slot>
      </div>

</transition>
</template>

<script setup>
import Carousel from "@/Pages/Carousel/Carousel.vue";

const props = defineProps({
    modalActive: Boolean,
    image: Array
});

</script>
