<template>
    <AppLayout>

        <template #header>
            <h2 class="text-center font-semibold text-xl text-gray-800 leading-tight">
                Orders page
            </h2>
        </template>

        <div v-if="$page.props.flash.deleteSuccess">
            <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 rounded-lg shadow bg-gradient-to-r from-emerald-500 to-emerald-900 text-white text-base" role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Check icon</span>
                </div>

                <div class="ml-3 text-sm font-normal">Order successfully cancelled.</div>
            </div>
        </div>

        <form @submit.prevent="submit()">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative mx-3 mt-3">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border
                border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                v-model="form.text" placeholder="Search Status, Order number..." required>
                <a :href="'/orders/' + $page.props.auth.user.id" class="text-white absolute right-2.5 bottom-2.5 bg-red-600 hover:bg-red-700
                focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600
                dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset search</a>
            </div>
        </form>

        <WindowDelete @close="toggleModal" :modalActive="modalActive" :orderId="orderId"/>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <div v-for="order in orders.data" v-bind:key="order" class="relative overflow-x-auto">
                <div id="body" class="m-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="px-5 pb-5">
                        <div class="grid grid-rows-2 mt-2">

                                <span class="text-xl text-gray-900 dark:text-white">
                                    Order # <span :id="'orderId'">{{ order.id }}</span>
                                </span>

                                <span class="text-xl text-gray-900 dark:text-white">
                                    Order status: <span :id="'orderStatus'">{{ order.status }}</span>
                                </span>


                            <div class="mt-3">

                                <a :href="'/orders/additionally/' + order.id" type="button" class="text-white bg-gradient-to-r from-fuchsia-300 to-fuchsia-600
                                hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-fuchsia-200 dark:focus:ring-fuchsia-800
                                font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    Additional Information
                                </a>

                                <a :href="'/orders/invoicepdf/' + order.id" type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600
                                hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800
                                font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    Generate PDF invoice
                                </a>

                                <button @click="toggleModal(order.id)" v-if="order.status !== 'approve' && order.status !== 'cancel'"
                                type="button" class="text-white bg-gradient-to-r from-red-500 to-orange-500
                                hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800
                                font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    Сancellation of order
                                </button>

                                <button v-else class="text-white bg-gradient-to-r from-red-500 to-orange-500
                                hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-red-200 dark:focus:ring-red-800
                                font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    You cannot cancel a confirmed order
                                </button>

                                <form action="/orders/pay" method="POST" v-if="order.status === 'approve'">

                                    <input type="hidden" name="_token" :value="csrf">
                                    <input name="totalAmount" type="hidden" :value="dataForPay(order.id)"/>
                                    <input name="orderId" type="hidden" :value="order.id"/>

                                    <button type="submit" class="text-gray-900 bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#F7BE38]/50 mr-2 mb-2">
                                        <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="paypal" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M111.4 295.9c-3.5 19.2-17.4 108.7-21.5 134-.3 1.8-1 2.5-3 2.5H12.3c-7.6 0-13.1-6.6-12.1-13.9L58.8 46.6c1.5-9.6 10.1-16.9 20-16.9 152.3 0 165.1-3.7 204 11.4 60.1 23.3 65.6 79.5 44 140.3-21.5 62.6-72.5 89.5-140.1 90.3-43.4 .7-69.5-7-75.3 24.2zM357.1 152c-1.8-1.3-2.5-1.8-3 1.3-2 11.4-5.1 22.5-8.8 33.6-39.9 113.8-150.5 103.9-204.5 103.9-6.1 0-10.1 3.3-10.9 9.4-22.6 140.4-27.1 169.7-27.1 169.7-1 7.1 3.5 12.9 10.6 12.9h63.5c8.6 0 15.7-6.3 17.4-14.9 .7-5.4-1.1 6.1 14.4-91.3 4.6-22 14.3-19.7 29.3-19.7 71 0 126.4-28.8 142.9-112.3 6.5-34.8 4.6-71.4-23.8-92.6z"></path></svg>
                                            Pay with PayPal
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <Pagination :links="orders.links" />

    </AppLayout>
</template>

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import WindowDelete from '@/Pages/Modal/WindowDelete.vue';
import Pagination from '@/Pages/Pagination/Pagination.vue';
import { useForm } from '@inertiajs/vue3';
import debounce from "lodash.debounce";
import { ref, watch } from "vue";

const props = defineProps({
    orders: Array,
    deleteSuccess: String,
});

const csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

const form = useForm({
    text: ''
});

watch(form, debounce(() => {
    form.get('/order/search?query=' + form.text);
}, 500));

function dataForPay(id) {
    const test = props.orders.data.filter((e) => {
        return e.id === id
    })

    let sum = 0

    test[0].sub_order.forEach(element => {
        sum += parseInt(element.sum);
    });

    return sum;
}

const orderId = ref(0);
const modalActive = ref(false);


function toggleModal(id) {
    orderId.value = id;
    modalActive.value = !modalActive.value;

    return { modalActive, orderId, toggleModal };
};


</script>
