<template>

    <div class="flex justify-center mt-2 mb-2">
        <template v-for="(link, key) in links" :key="key">
            <div v-if="link === null" class="mb-1 mr-1 px-4 py-3 text-gray-400 border border-slate-800 rounded"></div>
            <Link v-else :href="link.url" class="mb-1 mr-1 px-4 py-3 text-gray-900 border border-slate-600 rounded hover:bg-slate-400
            focus:text-indigo-500 focus:border-indigo-500" :class="{ 'bg-gradient-to-r from-blue-800 to-slate-800 text-white': link.active }">
                {{ link.label }}
            </Link>
        </template>
    </div>

</template>

<script setup>
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    links: Array,
});
</script>
